/* common  */
li{
    list-style: none;
}

/* navbar style  */
nav{
    background-color: #7676f7;
}
.navbar-brand{
    font-weight: bold;
}
.logo-text{
background-color: white;
color: #7676f7;
margin-left: 5px;
padding: 3px 8px;
border-radius: 5px;
}
.nav-link{
    border-bottom: 2px transparent white;
    transition: 0.5s;
}
.nav-link:hover{
    border-bottom: 2px solid white;
}



#catagory-container li{
    display: inline-block;
    margin-left: 15px;
    font-weight: 700;
    cursor: pointer;
}

#item-number{
    background-color: antiquewhite;
    border-radius: 10px;
    height: 80px;
    width: 70%;
    margin: auto;
    margin-bottom: 10px;
}
.author-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}



footer{
    padding: 15px;
    text-align: center;
    background-color: beige;
    margin-top: 20%;
}
